.hotels {
	h1{
		font-size: 6rem;
	    margin: 3rem 0 1rem 0;
	}
	input {
		width: 80%;
		margin: 2rem auto;
		background: transparent;
		color: #FFF;
		font-size: 4rem;
		border: 0;
		border-bottom: 1px solid white;
		display: block;
		margin-bottom: 6rem;
		transition: all 1s ease-out;
		&:focus {
			border-bottom: 1px solid #2ecc71;
		}
	}
	h3 {
		font-size: 2rem;
	}
	p.search-for{
		font-size: 2rem;
		color: #e67e22;
		font-weight: 300;
		span {
			color: #e74c3c;
			font-weight: 400;
		}
	}
	.hotel-card {
		margin: 2rem 0;
		img {
			max-height: 200px;
			max-width: 200px;
		}
	}
}